<div style="z-index: 0; width:100vw;height:100vh; position:absolute;left:0px;top:0px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <div class="card col-5 shadow">
        <div class="card-header text-center">
            {{studentService.student.userName}}
        </div>
        <div class="form-group m-3">
            <input class="form-control" [(ngModel)]="studentService.student.email" name="email" placeholder="Email">
        </div>
        <button class="btn btn-dark" (click)="updateStudent()">Edit</button>
    </div>
</div>
