<nav *ngIf="loginService.logged == true" class="navbar navbar-expand-lg navbar-dark bg-dark" style="z-index: 1;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['Events']">Events</a>
          </li>
          <li *ngIf="loginService.role == 'Admin'" class="nav-item">
            <a class="nav-link" [routerLink]="['Speakers']">Speakers</a>
          </li>
          <li *ngIf="loginService.role == 'Admin'" class="nav-item">
            <a class="nav-link" [routerLink]="['Students']">Students</a>
          </li>
        </ul>
        <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['ProfileSpeaker']" *ngIf="loginService.role == 'speakerModel'" >
            {{loginService.getUserName()}}
          </a>
          <a class="nav-link" [routerLink]="['ProfileStudent']" *ngIf="loginService.role == 'studentModel'" >
            {{loginService.getUserName()}}
          </a>
        </li>
        <li class="nav-item">
          <a (click)="loginService.logout()" class="nav-link" [routerLink]="['/']">
            Logout
          </a>
        </li>
      </ul>
      </div>
    </div>
  </nav>
